{% extends 'base.html' %}
{% block zawartosc %}
    <form method="post">
        {% csrf_token %}
        <input type="text" name="title" placeholder="Tytuł">
        <select>
            {% for author in authors %}
                <option value="{{ author.id }}">{{ author.first_name }} {{ author.last_name }}</option>
            {% endfor %}
        </select>
    <select>
            {% for publisher in publishers %}
                <option value="{{ publisher.id }}">{{ publisher.name }} {{ publisher.city }}</option>
            {% endfor %}
        </select>

        <input type="submit">

    </form>
{% endblock %}                