{% extends 'base.html' %}
{% block zawartosc %}
    <form method="post">
        {% csrf_token %}
        <input type="text" name="title" placeholder="Tytuł">
        <select name="author">
            {% for author in authors %}
                <option value="{{ author.id }}">{{ author.first_name }} {{ author.last_name }}</option>
            {% endfor %}
        </select>
        <select name="publisher">
            {% for publisher in publishers %}
                <option value="{{ publisher.id }}">{{ publisher.name }} {{ publisher.city }}</option>
            {% endfor %}
        </select>
        <p>
            {%  for genre in genres %}
                <p><input type="checkbox" value="{{ genre.id }}" name="genres"> {{ genre.name }}</p>
            {% endfor %}
        </p>

        <input type="submit">

    </form>
{% endblock %}